:root {
    --white-color: #fff;
    --text-color: #333;
    --black-color: rgb(0, 0, 0);
    --header-height: 196px;
    --top-bar-height: 50px;
    --navbar-heading-height: 28px;
    --search-height: 76px;
    --header-bottom-height: calc(var(--header-height) - var(--top-bar-height) - var(--navbar-heading-height) - var(--search-height));
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    letter-spacing: 0.5px;
    background-color: rgb(239, 239, 239);
}


/* Responsive */

.grid {
    width: 1242px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
}

.grid__column-2 {
    width: 16.6667%;
}

.grid__column-10 {
    width: 83.3334%;
}